<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>


<hr>
<div class="container-fluid">

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <img src="/pt.png"><img/>
        </div>


        <div class="col-xs-6 col-md-auto">

            <h3>Welcome to Milks Gym registration system</h3>
            <p class="text-justify"> So don't wait around any longer. Sign up with Fitness First and start living a
                healthier lifestyle.
                Our fitness center offers a wide variety of exercise programs for you to choose.

                You can take part in our Aerobics class, which will have you are sweating and shedding pounds in no
                time or want a more holistic approach, you can join our Yoga course and get in touch with your inner
                you!
            </p>
            <hr style="height:10pt; visibility:hidden;" />
            <p>
                If you sign up with us today, we will waive all your membership fees for two months!
                It is a great offer that you won't find anywhere else!

                Start feeling good. Join us now at Fitness First.

            </p>
            <p class="font-weight-normal">This is a Gym Web application deployed to to the web.</p>
            <hr style="height:5pt; visibility:hidden;" />
            <a type="button"  class="btn btn-lg btn-primary" href="/"><span class="glyphicon glyphicon-flash"></span>
                Become a member today</a>

        </div>

    </div>
</div>
<hr>
<div class="block">A sense of belonging to a community.There are different ways a website owner can design their footer
    to express this feeling.Milky Way Inc.
</div>


</body>
</html>
